/* GERAL */
@font-face {
    font-family: 'stilulight';
    src: url('../fonts/stilu-light-webfont.eot');
    src: url('../fonts/stilu-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stilu-light-webfont.woff2') format('woff2'),
         url('../fonts/stilu-light-webfont.woff') format('woff'),
         url('../fonts/stilu-light-webfont.ttf') format('truetype'),
         url('../fonts/stilu-light-webfont.svg#stilulight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'stiluregular';
    src: url('../fonts/stilu-regular-webfont.eot');
    src: url('../fonts/stilu-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stilu-regular-webfont.woff2') format('woff2'),
         url('../fonts/stilu-regular-webfont.woff') format('woff'),
         url('../fonts/stilu-regular-webfont.ttf') format('truetype'),
         url('../fonts/stilu-regular-webfont.svg#stiluregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'stilusemibold';
    src: url('../fonts/stilu-semibold-webfont.eot');
    src: url('../fonts/stilu-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stilu-semibold-webfont.woff2') format('woff2'),
         url('../fonts/stilu-semibold-webfont.woff') format('woff'),
         url('../fonts/stilu-semibold-webfont.ttf') format('truetype'),
         url('../fonts/stilu-semibold-webfont.svg#stilusemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face{ 
	font-family: 'stilu-regular-webfont';
	src: url('../fonts/stilu-regular-webfont.eot');
	src: url('../fonts/stilu-regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/stilu-regular-webfont.woff') format('woff'),
	     url('../fonts/stilu-regular-webfont.ttf') format('truetype'),
	     url('../fonts/stilu-regular-webfont.svg#webfont') format('svg');
}

body, a, p, div, label, li {
	font-family: 'stilu-regular-webfont', Arial, sans-serif !important; 
}
.error {
	color:red;
}

/* Tabelas */
.dataTables_filter{
    float: right;
}
.btn-info{
	padding: 1px 13px;
}
#add_tel, #rmv_tel{
	/*float: none;*/
    display: table;
	margin-bottom:0px !important;
	vertical-align: bottom !important;

}

/* LOGIN */
.ctn_login{
	position: absolute;
	margin-top: -85px;
    background-color: #01181e;
    width:100%;
    height: 100%;
    color:#FFF;
    padding-bottom: 11%;
}

.logologin{
    max-width: 350px;
    margin: 3% auto;
    display: table;
}

/* Menu */
.logo{
    max-width: 150px;
    display: table;
    margin: -4px 20px 8px 20px;
}
.navbar-fixed-top .nav, .collapse{
    background-color: #01181e !important;
    height: 73px !important; 
}
.navbar-fixed-top {
	width: 100% !important;
    background-color: #01181e !important;
   	height: 73px !important;
}
#menu a{
	color: #FFFFFF !important;
	background-color: #01181e !important;
}
#menu li {
	list-style: none; 
	font-style: none !important;
	float:left; 
	padding: 10px !important;
	background-color: #01181e;	
	cursor: pointer;
	border-bottom: solid 3px #01181e;
}
#menu li:hover {
	border-bottom: solid 3px #fed732;
}
#menu li:hover > a {
	color: #fed732 !important;
}
.dropdown-menu{
	height: 91px !important;
	margin-top:2px!important;
	background-color: #01181e !important;
	border-radius: 0px !important;
}
.dropdown-menu li{
	width: 100% !important;
	color:#FFF;
}
.dropdown-menu li:hover{
	color: #fed732 !important;
	background-color: #01181e !important;
	border-bottom: solid 3px #01181e;
}
/*Fim menu*/



#content{
	padding-top: 85px;
    margin-bottom: 40px; 
}

footer{
    text-align: center; 
    background-color: #FFF; 
    color:#01181e !important; 
    padding:15px 0 20px 0;
    position:absolute; 
    bottom:0; width: 100%;
}
