{% extends "page.html" %}

{% block page_content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="{{ root }}">Home</a></li>
                    <li><a href="{{ root }}/responsaveis/">Responsáveis</a></li>
                    <li class="active">Cadastro</li>
                </ol>
            </div> 
        </div>
        <div class="row">
            <div class="col-md-6"><h3>NOVO RESPONSÁVEIS</h3></div>
            <div class="col-md-6"></div>                                              
        </div>
        <div class="row">        
            <div class="col-md-12"><hr></div>
        </div>
        <div class="row">
	        <div class="col-md-12">
	           <form action="{{ root }}/responsaveis/acoes/cadastrar.php" method="post" enctype="multipart/form-data" id="formresponsavel" autocomplete="false">
                    {% include 'form_responsaveis.html' %}
                    <div class="row">
                        <div class="col-md-12">
                            <input class="btn btn-info pull-right" type="submit" value="Cadastrar">
                        </div>
                    </div>
               </form>
	        </div>
	    </div>
	</div>

{% endblock %}