 <div class="row">                      
    <div class="col-md-12">                     
        <div class="form-group">
            <label for="nome">Nome * <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="right" title="Nome para identificação"></i></label>
            <input type="text" class="form-control" name="nome" id="nome">
        </div>
    </div>
</div>
 <div class="row">
    <div class="col-md-6">                       
        <div class="form-group">
            <label for="tipo">Tipo de Arquivo *</label>
            <select class="form-control" name="tipo" id="tipo">
              <option value="">Escolha um tipo</option>
              <option value="1">Imagem</option>
              <option value="2">PDF</option>
              <option value="3">Arquivo Compactato (Kit)</option>
            </select>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="arquivo">Arquivo *</label>
            <input type="file" class="form-control" name="arquivo" id="arquivo" accept="image/*, application/pdf, application/zip, application/rar">
        </div>
    </div>
</div>