<div class="container" >
    <nav class="navbar navbar-fixed-top" id="menu">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only"> Toggle navigation </span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ root }}/dashboard/index.php">
                    <img src="{{ resources }}/img/logo.png" class="logo" alt="Logomarca Echoes Conteúdo Web" />
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- Menu do Site Institucional -->
                    {% if usertype is null %}
                    <li>
                        <a href="{{ root }}/dashboard/index.php">  A Echoes </a>
                    </li>
                    {% endif %} 
                    {% if usertype is null %}
                    <li>
                        <a href="{{ root }}/dashboard/index.php">  Soluções </a>
                    </li>
                    {% endif %}
                    {% if usertype is null %}
                    <li>
                        <a href="{{ root }}/dashboard/index.php">  Contato </a>
                    </li>
                    {% endif %}
                    
                    <!-- Menu da Área Restrita -->
                    {% if usertype == 'administrador' %}
                    <li>
                        <a href="{{ root }}/dashboard/index.php">  Dashboard </a>
                    </li>
                    {% endif %}
                    {%  if usertype == 'administrador' %}
                    <li>
                        <a href="{{ root }}/clientes/index.php"> Clientes </a>
                    </li>
                    {% endif %}
                    {% if usertype == 'administrador'%}
                    <li>
                        <a href="{{ root }}/parceiros/index.php"> Parceiros </a>
                    </li>
                    {% endif %}
                    {% if usertype == 'administrador' %}
                    <li>
                        <a href="{{ root }}/news/index.php"> Newsletter </a>
                    </li>
                    {% endif %}
                    {% if usertype == 'administrador' %}
                    <li>
                        <a href="{{ root }}/interessados/index.php"> Interessados </a>
                    </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            {{ username }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li onclick="window.open('{{ root }}/configuracoes/perfil/index.php','_self')" >
                                 Alterar Perfil 
                            </li>
                            <li onclick="window.open('{{ root }}/logout.php','_self')"> 
                                Sair
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
