{% extends "page.html" %}

{% block page_content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="{{ root }}">Home</a></li>
                    <li class="active">Clientes</li>
                </ol>
            </div> 
        </div>
        <div class="row">  
            <div class="col-md-12"> {% include 'alerts.html' with {'subject': 'Cliente'} %} </div> 
        </div>      
        <div class="row">   
            <div class="col-md-12"><a href="cadastro.php" class="btn btn-info pull-right"> <i class="fa fa-plus"></i> Novo </a></div>   
        </div>
        <div class="row">
            <div class="col-md-6"><h3>LISTAGEM DE CLIENTES</h3></div>
            <div class="col-md-6">
                <h3 class="pull-right">Clientes Cadastrados: {{ data.total }}</h3>
            </div>                                              
        </div>
        <div class="row">        
            <div class="col-md-12"><hr></div>
        </div>
        <div class="row">
            <div class="col-md-12">
               <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> Nome Fantasia </th>                           
                            <th> CPNJ/CPF </th>
                            <th> E-mail </th>
                            <th> Cidade </th>
                            <th> Estado </th>
                            <th> Ações </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cliente in data.clientes %}
                        <tr>
                            <td>{{ cliente.PessoaFantasia }}</td>
                            <td>{% if cliente.PessoaCNPJ != null %}{{ cliente.PessoaCNPJ }}{% else %}{{ cliente.PessoaCPF }}{% endif %}</td>
                          	<td>{{ cliente.EnderecoEmail }}</td>
                          	<td>{{ cliente.CidadeNome }}</td>
                            <td>{{ cliente.EstadoSigla }}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{ root }}/clientes/editar.php?id={{ cliente.idPessoa }}" class="btn btn-xs btn-info"> <i class="fa fa-cog"></i> Editar </a>
                                    <!--
                                    <button type="button" class="btn btn-xs btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li><a href="{{ root }}/orcamentos/index.php?id={{ cliente.idPessoa }}&cliente"> Orçamentos </a></li>                                        
                                    </ul>
                                </div>   
                                -->                         
                                <a href="{{ root }}/clientes/acoes/deletar.php?id={{ cliente.idPessoa }}" class="btn btn-xs btn-danger deletar"> <i class="fa fa-times"></i> Remover </a>
                            </td>   
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block additional_scripts %}

<script>
    $(document).ready(function(){
        $(".deletar").on('click', function () {
            r = confirm("Deseja realmente excluir este cliente?");
            if(r == true){
                return true;
            } else{
                return false;
            }
        });
    });
</script>

{% endblock %}

