<option value="" {% if data.estado_id == "" %}selected="selected"{% endif %}>Escolha o estado</option>
<option value="1" {% if data.estado_id == "1" %}selected="selected"{% endif %}>Acre</option>
<option value="2" {% if data.estado_id == "2" %}selected="selected"{% endif %}>Alagoas</option>
<option value="3" {% if data.estado_id == "3" %}selected="selected"{% endif %}>Amazonas</option>
<option value="4" {% if data.estado_id == "4" %}selected="selected"{% endif %}>Amapá</option>
<option value="5" {% if data.estado_id == "5" %}selected="selected"{% endif %}>Bahia</option>
<option value="6" {% if data.estado_id == "6" %}selected="selected"{% endif %}>Ceará</option>
<option value="7" {% if data.estado_id == "7" %}selected="selected"{% endif %}>Distrito Federal</option>
<option value="8" {% if data.estado_id == "8" %}selected="selected"{% endif %}>Espírito Santo</option>
<option value="9" {% if data.estado_id == "9" %}selected="selected"{% endif %}>Goiás</option>
<option value="10" {% if data.estado_id == "10" %}selected="selected"{% endif %}>Maranhão</option>
<option value="11" {% if data.estado_id == "11" %}selected="selected"{% endif %}>Minas Gerais</option>
<option value="12" {% if data.estado_id == "12" %}selected="selected"{% endif %}>Mato Grosso do Sul</option>
<option value="13" {% if data.estado_id == "13" %}selected="selected"{% endif %}>Mato Grosso</option>
<option value="14" {% if data.estado_id == "14" %}selected="selected"{% endif %}>Pará</option>
<option value="15" {% if data.estado_id == "15" %}selected="selected"{% endif %}>Paraíba</option>
<option value="16" {% if data.estado_id == "16" %}selected="selected"{% endif %}>Pernambuco</option>
<option value="17" {% if data.estado_id == "17" %}selected="selected"{% endif %}>Piauí</option>
<option value="18" {% if data.estado_id == "18" %}selected="selected"{% endif %}>Paraná</option>
<option value="19" {% if data.estado_id == "19" %}selected="selected"{% endif %}>Rio de Janeiro</option>
<option value="20" {% if data.estado_id == "20" %}selected="selected"{% endif %}>Rio Grande do Norte</option>
<option value="21" {% if data.estado_id == "21" %}selected="selected"{% endif %}>Rondônia</option>
<option value="22" {% if data.estado_id == "22" %}selected="selected"{% endif %}>Roraima</option>
<option value="23" {% if data.estado_id == "23" %}selected="selected"{% endif %}>Rio Grande do Sul</option>
<option value="24" {% if data.estado_id == "24" %}selected="selected"{% endif %}>Santa Catarina</option>
<option value="25" {% if data.estado_id == "25" %}selected="selected"{% endif %}>Sergipe</option>
<option value="26" {% if data.estado_id == "26" %}selected="selected"{% endif %}>São Paulo</option>
<option value="27" {% if data.estado_id == "27" %}selected="selected"{% endif %}>Tocantins</option>
